<!DOCTYPE html>
<html lang="es">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Reservaciones</title>
   <link rel="shortcut icon" type="image/x-icon" href="../assets/img/logo-experimenta/ico_ex-02.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css"/>
   <link rel="stylesheet" href="../css/main.css">
   <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
 </head>
 <body>
   <header uk-sticky="animation: uk-animation-slide-top">
     <nav class="uk-padding-small color-orange" uk-navbar="mode: click">
       <div class="uk-navbar-left">
         <a class="uk-navbar-item uk-logo" href="home.html"><img src="../assets/img/logo-experimenta/Logo-experimenta-white.svg" alt=""></a>
       </div>
       <div class="uk-navbar-right">
         <ul class="uk-navbar-nav uk-iconnav">
           <li><a href="#">Contacto</a></li>
           <li>
             <a title="Cerrar Sesión" uk-tooltip="pos: bottom" href="#" uk-icon="icon: user" ></a>
           </li>
         </ul>
       </div>
     </nav>
     <section class="uk-flex uk-flex-center color-gray">
         <ul class="uk-subnav uk-subnav-divider">
             <li><a href="reservacion.html">Reservacioness</a></li>
             <li><a href="factura.html">Facturas</a></li>
             <li>
                 <a href="#">Perfil<span uk-icon="icon:  triangle-down"></span></a>
                 <div uk-dropdown="mode: click;">
                     <ul class="uk-nav uk-navbar-dropdown-nav">
                         <li class="uk-active"><a href="#"></a></li>
                         <li><a href="datos.html">Datos</a></li>
                         <li><a href="experiencias.html">Experiecias</a></li>
                         <li><a href="#">Convenio</a></li>
                     </ul>
                 </div>
             </li>
             <li><a href="preguntas.html">Preguntas</a></li>
         </ul>
     </section>
   </header>
   <section class="uk-padding-large" id="experiencias">
     <div class="uk-heading-line">
         <h2>Experiencias</h2>
     </div>
     <article class="uk-card uk-card-default uk-grid uk-grid-medium uk-child-width-expand@m">
       <div>
         <div class="uk-card-header">
           <div class="uk-flex-middle">
             <div class="uk-width-auto contenedor-img">
               <img src="../assets/img/fotos-stock/aventura/shutterstock_122485123.jpg">
             </div>
             <h3 class="uk-card-title uk-margin-remove">Experiencia</h3>
             <div class="uk-grid">
               <p class="uk-text-meta  uk-margin-remove-bottom">
                 <span class="uk-text-meta" uk-icon="icon: location"></span>
                 Cancun, Quintana Roo
               </p>
               <p class="uk-text-meta">Costo: <b>$500</b></p>
             </div>
           </div>
         </div>
         <div class="uk-card-body">
           <h4>Descripción</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
         </div>
         <div class="uk-card-footer">
             <a href="#modal" uk-toggle class="uk-button uk-button-text uk-align-right" uk-icon="icon: file-edit"></a>
         </div>
       </div>

[10:39] 
<div>
         <div class="uk-card-header">
           <div class="uk-flex-middle">
             <div class="uk-width-auto contenedor-img">
               <img src="../assets/img/fotos-stock/aventura/shutterstock_127957634.jpg">
             </div>
             <h3 class="uk-card-title uk-margin-remove">Experiencia</h3>
             <div class="uk-grid">
               <p class="uk-text-meta  uk-margin-remove-bottom">
                 <span class="uk-text-meta" uk-icon="icon: location"></span>
                 Cancun, Quintana Roo
               </p>
               <p class="uk-text-meta">Costo: <b>$500</b></p>
             </div>
           </div>
         </div>
         <div class="uk-card-body">
           <h4>Descripción</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
         </div>
         <div class="uk-card-footer">
             <a href="#modal" uk-toggle class="uk-button uk-button-text uk-align-right" uk-icon="icon: file-edit"></a>
         </div>
       </div>

       <div>
         <div class="uk-card-header">
           <div class="uk-flex-middle">
             <div class="uk-width-auto contenedor-img">
               <img src="../assets/img/fotos-stock/aventura/shutterstock_77683366.jpg">
             </div>
             <h3 class="uk-card-title uk-margin-remove">Experiencia</h3>
             <div class="uk-grid">
               <p class="uk-text-meta  uk-margin-remove-bottom">
                 <span class="uk-text-meta" uk-icon="icon: location"></span>
                 Cancun, Quintana Roo
               </p>
               <p class="uk-text-meta">Costo: <b>$500</b></p>
             </div>
           </div>
         </div>
         <div class="uk-card-body">
           <h4>Descripción</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
         </div>
         <div class="uk-card-footer">
             <a href="#modal" uk-toggle class="uk-button uk-button-text uk-align-right" uk-icon="icon: file-edit"></a>
         </div>
       </div>

     </article>
   </section>

[10:39] 
<section>
     <div id="modal" uk-modal>
         <div class="uk-modal-dialog">

             <button class="uk-modal-close-default" type="button" uk-close></button>

             <div class="uk-modal-header">
                 <h2 class="uk-modal-title">Experiencia</h2>
             </div>

             <div class="uk-modal-body" uk-overflow-auto>

                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


             </div>

             <div class="uk-modal-footer uk-text-right">
                 <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                 <button class="uk-button uk-button-primary" type="button">Actualizar</button>
             </div>

         </div>
     </div>
   </section>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
 </body>
</html>