@import "variables.scss";
@import "function.scss";

html {
    box-sizing: border-box;
    font-family: $font-principal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

h2, h3{
  font-family: $font-principal;
}

.color-orange{
  background: $color-orange;
}

.color-green{
  background: $color-green;
}

.color-gray{
  background: $color-gray;
}

.text-white{
  color: white;
}

.text-orange{
  color: $color-orange;
}

#background-home{
  background-image: url(../assets/img/fotos-stock/gente-feliz/shutterstock_289485428.jpg);
}
.uk-navbar-nav>li>a, .uk-subnav>*>:first-child{
  color: white;
  font-family: $font-principal;
}

.uk-subnav{
  padding-top: 1.5%;
}

.button-style{
  border-radius: 5px;
  border: 1px solid $color-green;
  color: white;
  background: $color-green;
  &:hover{
    background: none;
    border: 1px solid white;
    color: white;
  }
}
